
#excel-csv {
	display: none !important;
}

.app-content {
	overflow-x: scroll;
}

#split-main {
	overflow-y: scroll;
}


#hidden-code {
	display: none;
}

#form-info{
	color: white;
}

.json-form-data {
	display: none;
}

#excel-menu a:hover {
	background-color: orange;
	cursor: pointer;

}

#excel-menu a{
	width: 100%;
	display: block;
}

#split-container {
	color: white !important;
}

.box-side {
	list-style-type: none;
	margin-left: -35px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
}

.item-menu:hover {
	background-color: grey;
	cursor: pointer;
}

.formbuilder-button {
	display: none;
}

.item-menu{
	width: 175px;
}

.item-menu > input{
	display: inline-block;
	width: 15px;
	text-align: left !important;
}

.item-list {
	display: block;
	width: 200px;
}

.hidden{
	display: none;
}

.btn-default {
	background-color: orange;
	border-radius: 5px;
	width: 75px;
	height: 45px;
	display: block;
}

.btn-default:hover{
	background-color: red !important;
	color: white !important;
}

#date-created{
	color : white;
}

table {
	background-color: white;
}

.dt-layout-cell{
	color: white;
}
.dt-input option{
	background-color: #1d283c !important;
}

.dt-search input {
	width: 250px;
}

.clear-all-container img {
	display: block;
	width: 24px;
	height: 24px;
	margin : auto;
	
}

#convert-excel-image {
	width: 24px;
	height: 24px;

}


.clear-all-container span{
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.clear-all-container {
	margin: 10px;
}

#clear-all-link:hover, #convert-to-pdf:hover, #convert-to-excel:hover, #switch-display:hover {
	cursor: pointer;
	background-color: yellow;
	border-radius: 15px;
	color: red !important;
}

#clear-all-link, #convert-to-excel, #convert-to-pdf, #switch-display{
	
	display: inline-block;
	text-align: center;
}

#table-container {
	padding: 10px;
}

#table-container .title {
	text-align: center;
}

#table-container h3{
	background-color: black;
	display: block;
	width: 300px;
	border-radius: 5px;
	color: white;
	margin: auto;
}
