
.btn-default {
	background-color: orange;
	border-radius: 5px;
	width: 75px;
	height: 45px;
	display: block;
}

.btn-default:hover{
	background-color: red !important;
	color: white !important;
}

table {
	background-color: white;
}

.dt-layout-cell{
	color: white;
}
.dt-input option{
	background-color: #1d283c !important;
}

.dt-search input {
	width: 250px;
}