


.btn-default {
	background-color: orange;
	border-radius: 5px;
	width: 75px;
	height: 45px;
	display: block;
}

.btn-default:hover{
	background-color: red !important;
	color: white !important;
}

.form-group {
	border-style: ridge;
	border-radius: 12px;
	border-color: white;
	padding: 15px;

}

.formbuilder-radio input[type='radio'] {
	width: 30px !important;
}

.app-content form {
	height: 800px;
	overflow-y: auto;
}

.other-val {
	width: 200px !important;
}

