
.formulir {
    width: 80% !important;
    border-style: ridge;
    border-radius: 5px;
}

.form-elements label{
    color: black;
}

#fb-editor {
    height: 600px;
    overflow-y: auto;
}

#hidden-code-json {
    display: none;
}

/* this is for the editing or creating form with several part
that wasnt needed by the normal user */ 
.className-wrap, .name-wrap, .access-wrap{
    display: none !important;
}